.mainContainer {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}

.Container {
  display: flex;
}

.toggleWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.toggleContainer {
  height: 50px;
  padding: 20px;
  background-color: #d9d9d9;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5px;
}

.toggleText {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

.itemContainer {
  background-color: #d9d9d9;
  border-radius: 6px;
  margin: 10px;
  padding: 40px;
}

.contentContainer {
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
  width: 500px;
}

.row1 {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 150px;
}

@media(width <= 600px){
    .contentContainer {
        width: 400px;
    }
    .itemContainer{
      padding-inline: 0;
    }
}

@media(width >= 600px){
    .toggleContainer {
        width: 300px;
    }
}
